*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff
}

body{
    background-color: rgb(18, 18, 18) ;
    line-height: 2rem;
}

/* Navbar */
.navbar{
    display: flex;
    padding: 0% 2%;
    justify-content: space-between;
    align-items: center;
    background-color: #2a2a2a;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    display: inline-block;
    list-style-type: none;
    font-size: 20px;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    text-decoration: none;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.4s;
}

.nav-links ul li:hover::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
}


.nav-links ul li:hover{
    cursor: pointer;
}

.logo{
    height: 60px;
    width: 100px;
}


/* Main Section */

.main{
    height: 100%;
    padding: 2% 8%;
}

.cover{
    margin-bottom: 2rem;
}

.main-cover{
    background-image: url('/assets/QuakeCon.png');
    background-size: cover;
    height: 600px;
    position: relative;
    display: flex;
    align-items:end;
}

.cover-details{
    padding: 3%;
    z-index: 1;
}

.cover-details > h1{
    margin-bottom: 2rem;
}

.cover-details > p{
    font-size: 1.5rem;
}

.toggle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.toggle > h1{
    font-size: 3.2rem;
}

.cover-overlay{
    background: rgb(10,10,10);
    background: linear-gradient(90deg, rgba(10,10,10,1) 0%, rgba(18,18,18,1) 0%, rgba(74,71,71,1) 91%, rgba(80,76,76,1) 100%, rgba(0,212,255,1) 100%);
    height: 100%;
    width: 100%;
    opacity: 80%;
    position: absolute;
}

/*News*/
.news{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.headlines{
    display: flex;
    gap: 1rem;
}

.news-content{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 20px;
    text-align: center;
}

.news-content > .more:hover{
  cursor: pointer;
}

.news-content > .more{
    margin-bottom: 1rem;
}

.news-image{
    border-radius: 20px;
}


.content > .next-page{
    text-align: center;
    margin-top: 3rem;
    letter-spacing: 10px;
}

.content > .next-page:hover{
   cursor: pointer;
}

.other-news{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
}

.other-image{
    border-radius: 20px;
}

.other-content{
    display: flex;
    gap: 1rem;
}

.other-details{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}


.greyed-out{
    color: grey;
}

.greyed-out:hover{
    color: white;
}


hr {
    border: none;
    height: 0px;
    width: 85%;
    box-shadow: 0 0.1px 3px 0.4px cornflowerblue;
  }


  /*BROWSE PAGE*/

.search{
    width: 100%;
    display: flex;
    justify-content:right;
}


.search-container{
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#search{
    border: none;
    padding: 8px;
    border-radius: 10px;
    width: 60%;
    outline: none;
    background-color: #2A2A2A;
}

#search-button{
    background-color: #E82323;  
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    transition: background-color 0.3 ease;
}

#search-button:hover{
    cursor: pointer;
    background-color: #B30F0F;
}

.genres{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.genres-upper{
    display: flex;
    justify-content: space-between;
}

.genres-lower{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.genre-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 8px;
    transition: 0.8s ease-out;
}

.genre-box:hover{
    background-color: #565555;
    cursor: pointer;
}

.genre-image{
    height: 150px;
    width: 250px;
}

.genres-next{
    display: flex;
    gap: 10px;
}

.genres-next >button{
    height: 40px;
    width: 40px;
    border: none;
    background-color: #2A2A2A;
    border-radius: 50%;
    font-size: 1.2rem;
    font-weight: bold;
}

.genres-next >button:hover{
    background-color: #565555;
    cursor: pointer;
}

/*Games Library */
.game-library{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.heading{
    display: flex;
}

.showing{
    width: 80%;
}

.game-content{
    display: grid;
    grid-template-columns: 75%  5% 20%;
}

.games{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.game-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    gap: 1.2rem;
    margin-bottom: 3rem;
}

.game-image{
    border-radius: 30px;
    height: 150px;
    width: 250px;
    transition: transform 300ms;
}

.game-image:hover{
    cursor: pointer;
    transform: scale(1.3);
    opacity: 1;
}

.game-name{
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.filters{
    height: 100%;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

form > .keywords{
    width: 100%;
    height: 2rem;
    border: none;
    border-radius: 5px;
    background-color: #2A2A2A;
    outline: none;
    text-align: center;
    height: 40px;
}

select{
    width: 100%;
    height: 2rem;
    border: none;
    border-radius: 5px;
    background-color: #2A2A2A;
    outline: none;
    text-align: center;
    font-size: 1rem;
}

select:hover{
    cursor: pointer;
}

.line{
    border: none;
    height: 0px;
    width: 100%;
    box-shadow: 0 0.1px 1px 0.4px #565555;
}

.keywords-search{
    width: 100%;
    height: 2rem;
    border: none;
    border-radius: 5px;
    background-color: #E82323;
    outline: none;
    text-align: center;
    height: 40px;
    padding: 8px 12px;
    transition: background-color 0.3 ease;
    font-size: 1rem;
}

.keywords-search:hover{
    cursor: pointer;
    background-color: #B30F0F;
}

.game-next{
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.game-next >button{
    height: 40px;
    width: 40px;
    border: none;
    background-color: #2A2A2A;
    border-radius: 50%;
    font-size: 1.2rem;
    font-weight: bold;
}

.game-next >button:hover{
    background-color: #565555;
    cursor: pointer;
}


/*Upcoming Games Table */
table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #2A2A2A;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    font-weight: 900;
    background-color: #565555;
    letter-spacing: .1em;
    text-transform: uppercase;
  }


.popular-next{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.popular-next >button{
    height: 40px;
    width: 40px;
    border: none;
    background-color: #2A2A2A;
    border-radius: 50%;
    font-size: 1.2rem;
    font-weight: bold;
}

.popular-next >button:hover{
    background-color: #565555;
    cursor: pointer;
}


/*Support Page */

.support-section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.support-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.support-form >input{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    background-color: #2A2A2A;
}

#message{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    background-color: #2A2A2A;
}


.support-form >button {
    background-color: #E82323;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}


/*Media Queries*/
@media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }

    footer {
        padding: 10px;
    }

  }

  